<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!matchFound"
  style="text-align:center; background-image: url('/assets/login.jpg');padding-top: 150px;height:380px">
  <div>
    <h1 class="heading-3T"> Tic Tac Toe (3T) </h1>
    <mat-form-field style="width: 265px!important;">
      <input color="accent" matInput type="text" placeholder="User Name" #user>
    </mat-form-field><br>
    <mat-form-field style="width: 265px!important;">
      <input color="accent" matInput type="text" type="password" placeholder="Key Word" #keyWord>
    </mat-form-field><br>
    <button class="send-style" mat-button color="primary" (click)="login(user,keyWord)">
      <mat-icon *ngIf="isLoading">
        <mat-spinner diameter="20">
        </mat-spinner>
      </mat-icon>{{loginLoading}}
    </button>
    <h3>{{errorMsg}}</h3>
  </div>
</div>
<router-outlet></router-outlet>