<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!matchFound">
    <form class="back-ground">
        <h1 class="heading-3T"> Tic Tac Toe (3T) </h1>
            <input type="text" class="txt" placeholder="User Name" #user />
            <input type="text" class="txt" type="password" placeholder="Key Word" #keyWord />
        <button class="send-style"  (click)="login(user,keyWord,$event)">
            <span class="spinner-border" *ngIf="isLoading">
            </span>{{loginLoading}}
        </button>
        <h3 class="error-msg">{{errorMsg}}</h3>
    </form>
</div>
<router-outlet></router-outlet>